services:
  - type: web
    name: omniservise
    env: node
    plan: free
    branch: main
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000

env: node
node:
  version: 18.12.1
